@import "color-scheme";

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: $rich-black-fogra;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  padding: 20px 60px;
}

a {
  color: $caribbean-green;
  text-decoration: none;
}
